input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px; /* Largura maior para um visual mais espaçoso */
  height: 36px; /* Altura maior para um visual mais moderno */
  background: #ccc; /* Cor de fundo padrão */
  float: right;
  border-radius: 50px; /* Borda mais arredondada */
  position: relative;
  transition: background-color 0.3s; /* Transição suave de cor */
}

label::after {
  content: '';
  position: absolute;
  top: 4px; /* Margem superior ajustada */
  left: 4px; /* Margem esquerda ajustada */
  width: 28px; /* Aumentar o tamanho do botão interno */
  height: 28px; /* Aumentar o tamanho do botão interno */
  background-color: #fff; /* Cor de fundo do botão interno */
  border-radius: 50%; /* Bordas completamente arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para profundidade */
  transition: transform 0.3s; /* Transição suave para movimento */
}

input:checked + label {
  background-color: #4caf50; /* Cor de fundo quando ativo */
}

input:checked + label::after {
  transform: translateX(34px); /* Mover para a direita quando ativo */
}

label:active::after {
  width: 32px; /* Diminuir a largura ao ser pressionado */
  height: 32px; /* Diminuir a altura ao ser pressionado */
}

footer {
    text-align: center;
    margin-top: 60px;
    color: #7f8c8d;
    font-size: 0.9rem;
    padding: 20px 0;
    border-top: 1px solid #bdc3c7;
}
